<h1> Welcome to QBoard </h1>

We hope to be the answers to all your questions!

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
    {{question-popularity question}}
  {{/each}}

  {{new-question saveQuestion2="saveQuestion3"}}
</ul>
