<h1> Welcome to QBoard </h1>

We hope to be the answers to all your questions!

<ul>
  {{#each model as |question|}}
    {{question-tile question=question destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>
